# Rust
src-rust/target/

# OS
.DS_Store

# Refs
refs/

# Agents
.claude
.claurst
!.claurst/.placeholder
.roo

# Git
.gitignore
.gitattributes

# VSCode / unsolicited devcontainers mounts
.vscode
.vscode/settings.json

# workspaces
.workspaces

*.txt
